.start-button {
  z-index: 20;
  display: none;
  /*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: 24vh;
  /*/

  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 40%;

  /*
  position: absolute;
  top: 24vh;
  
  left: 40vw;
  align-self: center;
  */
}

.start-button:active {
  transform: scale(0.98);
}
